.form-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  border: 1px solid black;
  border-radius: 8px 8px 0 0;
}

.section-title {
  padding: 0.5rem 0;
  text-align: center;
  background-color: #b0c7cf;
}

.field-container {
  padding: 0rem 2rem;
  border-bottom: 1px solid #c5c5c5;
}

.date-input input {
  padding: 0.25rem 0.5rem;
  border-bottom: 1px solid gray;
}

.checkbox-title {
  font-weight: bold;
  padding: 0.875rem;
  padding-left: 1.5rem;
  font-size: 1rem;
  background-color: bisque;
}

.checkbox-container {
  display: flex;
  align-items: center;
  padding: 1rem 3rem 1rem 2.875rem;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.table-container{
  padding: 2.5rem 1rem;
  border-bottom: 1px solid #c5c5c5;
}

.table-title{
  font-size: 16px;
  margin-bottom: 1.25rem;
}