@tailwind base;
@tailwind components;
@tailwind utilities;

/* estilos globales opcionales */
html,
body,
#root {
  height: 100%;
}
body {
  @apply bg-gray-50 text-gray-900;
}

@layer utilities {
  .border-right {
    border-right: 1px solid black;
  }
  .border-bottom {
    border-bottom: 1px solid black;
  }
}

.primary-button {
  /* bg-blue-500 text-white px-5 py-3 rounded mt-4 hover:bg-blue-600 */
  background-color: var(--main-color);
  color: white;
  padding: 0.75rem 1.25rem;
  border-radius: 0.375rem;
  transition: background-color 0.3s;
  &:hover {
    background-color: #1a4bb8;
  }
}

/* colors */
:root {
  --main-color: #27367c;
}
