.menu-select {
  width: 50rem;
}

.active {
  /* text-decoration: underline; */
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

.user-list {
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
  width: 100%;
  max-height: 50vh;
}

.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  margin-bottom: 0.5rem;
  background-color: white;
  transition: background-color 0.3s;
}

.user-card:hover {
  /* background color light blue */
  background-color: #f0f8ff;
}
